button{
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 2px;
}


body{
    background-color:white;
    font-family:'Times New Roman', Times, serif
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
}

footer h6{
    font-size: 2vh;
    margin:1px;
}

input{
    border-radius: 5px;
}
